@charset "UTF-8";
@font-face {
	font-family: Roboto;
	src:url("/fonts/Roboto-Regular.ttf");
}
@font-face {
	font-family: Quantico-Bold;
	src:url("/fonts/Quantico-Bold.ttf");
}
@font-face {
	font-family: Zefani;
	src:url("/fonts/Zefani.otf");
}
@font-face {
	font-family: PaytoneOne;
	src:url("/fonts/PaytoneOne.ttf");
}
* {
	font-family: Roboto, monospace;
	color: #d9d9d9;
}
body{
	background-color: #111413;
}
p{
	color: #d7d7d7;
}

.apply-PaytoneOne{
	font-family: PaytoneOne, monospace;
	color: #d9d9d9;
}

.apply-zefani{
	font-family: Zefani, monospace;
	color: #d9d9d9;
}

.container{
	width: 35vw;
}


#container-specific{
	max-width: 650px;
	margin: 0 auto;
}

#search-area{
	height: 50px;
	background-color: #353738;
	display: flex;
	flex-direction: row;
	position: relative;
	border-radius: 10px;
}

#search-result{
	z-index: 2;
	position: relative;
	overflow-y: scroll;
	font-size: 20px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	background-color: #28312e;
}
#search-result .search-result-item{
	width: 100%;
	border-bottom: 1px solid #2e2f31;
	padding: 20px;
	color: white;
	display: flex;
	justify-content: space-between;
}
.search-result-item div button{
	padding: 5px 10px;
	background: #3a3b3c;
	color: #d9d9d9;
	border: none;
	border-radius: 5px;
}
.search-result-item div span{
	line-height: 2;
}
.search-result-item div img{
	width: 40px;
	height: 40px;
}

.search-result-item div button:hover{
	background-color: #27824c;
	transition-duration: .5s;
}

#suggested-contacts{
	position: absolute;
	width: 100%;
	color: #d9d9d9;
	text-align: center;
	margin: 20px 0;
	font-family: PaytoneOne, monospace;
}

#suggested-contacts i{
	margin-right: 20px;
}

#contact-input{
	width: 100%;
	padding: 10px 10px 10px 50px;
	border-radius: 10px;
}

#search-button{
	position: absolute;
	font-size: 20px;
	top: 15px;
	left: 15px;
}


.input-styled{
	background: #28312e !important;
	border: none;
	font-size: 1.5em;
	color: white;
}
.input-styled:focus{
	color: white;
	outline: none;

}

.label-styled {
	color: #d9d9d9;
	font-size: 1.5em;
}

.card-styled{
	width: 30vw;
	margin: 50px auto;
	background: #242526;
	padding: 25px;
}

ul a {
	background-color: #27824c;
	text-decoration: none;
	color: inherit;
}
.my-nav .my-nav-ul{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-top: -10px;
}
.my-nav .my-nav-ul a{
	padding: 10px 15px;
}
ul .my-navbar-brand {
	background: inherit !important;
	padding: 0 !important;
	margin-top:10px
}

#chat-io {
	font-family: Zefani, monospace;
	color: #d9d9d9;
	font-size: 23px;
}


ul a:nth-child(2) {
	border-radius: 0 0 0 10px;
	margin-left: 20px;
}
ul a:nth-child(5) {
	border-radius: 0 0 10px 0;
}
ul a i, ul a li {
	display: inline;
}


#findButton{
	margin: 0 auto;
	display: block;
	padding: 10px 30px;
	background: #27824c;
	border-radius: 10px;
	border-style: none;

}
#find-contact-header{
	text-align:center;
	color: white;
}

#container-find{
	margin-top: 30px;
	background-color: #242526;
	color: white;
	border-radius: 10px;
	position: relative;
}

#suggested{
	position: absolute;
	z-index: 1;
	top: 60px;
	width: 100%;
	height: 641px;
	display: flex;
	flex-direction: column;
	margin-top: 65px;
	border-radius: 10px;
	overflow-y: scroll;
	overflow-x: hidden;
}
#suggested .suggested-contact-item{
	width: 90%;
	background: #28312e;
	margin: 15px auto;
	border-radius: 10px;
	box-shadow: 11px 13px 14px -7px #000;
	border: 1px solid #18191a;
}
#suggested .suggested-contact-item:hover{
	box-shadow: none;
	transition-duration: .5s;
}

.suggested-contact-item{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.suggested-contact-item div:last-child{
	padding-right: 15px;
	text-align: center;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.suggested-contact-item div div button{
	margin-left: 10px;
}

.suggested-contact-item .user-name{
	font-size: 25px;

}

.suggested-contact-item div img{
	border-radius: 10px 0 0 10px;
	width: 100px;
	height: 100px;
}

.suggested-contact-item div div button{
	padding: 5px 10px;
	background: #3a3b3c;
	border: none;
	border-radius: 5px;
	padding: 10px;
}

.suggested-contact-item div div button:hover{
	background-color: #27824c;
	transition-duration: .5s;
}

#contacts-result{
	background-color: #242526;
	border-radius: 20px;
}

#add-contact-button{
	border-color: black;
	color: black;
	background: #939393;
}

#add-contact-button:hover
{
	background-color: white;
	color: black;
	border-color: black;
}

#contact-alert-style{
	background-color: #3b3d3e;
	color: white;
	font-size: 2em;
}

.custom-alert{
	background-color: #b9f2e1;
}

html, body{
	height:100%
}

.disp-block{
	display:block;
	margin:10px;
	padding:10px;
	overflow-wrap: break-word;
 		word-wrap: break-word;
}

.right-margin{
	margin-right:50px
}

.scroll-box{
	overflow-y:scroll;
	height: 100%;
	display: flex;
	flex-direction: column-reverse;
	padding-bottom: 20px;
}

.sign-up, .login{
	background: #27824c;
	color: #ececec !important;
	border: none;
	min-width: 80px;
}

.sign-up:disabled {
	background-color: #27824c !important;
}
.sign-up:hover, .login:hover{
	background: #206b3e;
}

.bord{
	border-top:none;
	border-bottom:none;
	border-right:1px solid black;
	border-left:1px solid black;
}

.chat-item-container {
	display: flex;
}

.chat-item-container--mine {
	justify-content: end;
}

.chat-item-container--mine div{
	background-color: #4c8563;
	margin: 10px 10px 0px 50px;
	border-radius: 10px 0 10px 10px;
	text-align: right;
}




.chat-item-container--mine div,.chat-item-container--his div{
	margin-top: 10px;
	color: #e8e8e8;
	padding: 5px 10px;

}

.chat-item-container--his div{
	background-color: #a2a2a2;
	margin: 10px 50px 0px 10px;
	border-radius: 0 10px 10px 10px;
	text-align: left;
}

#register-button, #login-button{
	display: inline-block;
	text-decoration: none;
	margin-left: 10px;
	color: #27824c;
}
.chat-item {
	max-width: 250px;
}
.bg-info{
	border-radius: 0 0 10px 10px;
	margin: 0 auto;
	margin-bottom: 10px;
	min-width: 100px;
	display: block;
	max-width: 200px;
	padding-top: 10px;
	font-size: 20px;
	background-color: #134126 !important;
}
.bg-info i{
	font-size: 15px;
	color: springgreen;
	margin-left: 5px;
	margin-top: 2px;
}
.input-group{
	position: absolute;
	bottom: -85px;
}
.btn-outline-secondary{
	color: white;
	background: #27824c;
	border-radius: 0 0 10px 0;
}
.message-area input {
	border-radius: 0 0 0 10px;
}

.input-group-text{
	background-color: inherit;
	border: none;
	color: #d9d9d9;
	padding: 0;
	margin-bottom: 20px;
	margin-top: 10px;
	position: relative;
}

.input-group-text input {
	margin-right: 5px;
}

.input-group-text input{
	background-color: gray;
	border-color: gray;
}

.input-group-text input:checked{
	background-color: #27824c;
	border-color: #37c973;
}

.input-group-text label{
	color: #8d8d8d;
}

.message-area button{
	width: 20%;
}

#chat-box-styled{
	height: 700px;
	position: relative;
	margin-top: 20px;
	border-radius: 10px 10px 0 0;
	background-color: #27824c !important;
}

ul {
	color: white;
}

ul a:hover{
	background-color: #34af66;
	transition-duration: .5s;
}

#chat-items {
	background-color: #363e49;
}

.your-contacts{
	text-align: center;
	color: #d9d9d9;
	margin-top: 40px;
	font-family: PaytoneOne, monospace;
}

.your-contacts i {
	margin-right: 20px;
}

.your-contact-items{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.your-contact-item{
	background-color: #28312E;
	margin: 20px 10px;
	border-radius: 10px;
	box-shadow: 2px 2px 9px 5px black;
}

.your-contact-item a{
	text-decoration: none;
	position: relative;
}

.your-contact-item a i{
	left: 41%;
	position: absolute;
	top: 1%;
	font-size: 40px;
	visibility: hidden;
}


.your-contact-item:hover{
	background-color: #0f5132;
	box-shadow: none;
}

.your-contact-item:hover img{
	background: #0f5132;
	transition-duration: .5s;
	opacity: .5;
}

.your-contact-item:hover a i{
	visibility: visible;
	opacity: 1;
}


.your-contact-item .conv-button{
	color: #d9d9d9;
	border-radius: 0 0 10px 10px;
	padding: 10px;
	border: none;
}

.your-contact-item .conv-button:hover{
	background: #0f5132;
}

.your-contact-item img
{
	width: 190px;
	height: 190px;
	border-radius: 10px 10px 0 0;
}

#chat-items::-webkit-scrollbar {
	width: 5px;               /* width of the entire scrollbar */
}

#chat-items::-webkit-scrollbar-track {
	background: black;        /* color of the tracking area */
}

#chat-items::-webkit-scrollbar-thumb {
	background-color:  #27824c;    /* color of the scroll thumb */
}


#search-result::-webkit-scrollbar {
	width: 5px;               /* width of the entire scrollbar */
}

#search-result::-webkit-scrollbar-track {
	background-color: #242526;        /* color of the tracking area */
}

#search-result::-webkit-scrollbar-thumb {
	background-color:  #27824c;    /* color of the scroll thumb */
}


#suggested::-webkit-scrollbar {
	width: 5px;               /* width of the entire scrollbar */

}

#suggested::-webkit-scrollbar-track {
	background-color: #242526;        /* color of the tracking area */
}

#suggested::-webkit-scrollbar-thumb {
	background-color:  #27824c;    /* color of the scroll thumb */
}