<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Chat.io</title>
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<script src="/js/stomp.umd.min.js"></script>
	<link rel="stylesheet" href="/fontawesome-free-6.4.2-web/css/fontawesome.min.css">
	<link href="/fontawesome-free-6.4.2-web/css/brands.css" rel="stylesheet">
	<link href="/fontawesome-free-6.4.2-web/css/solid.css" rel="stylesheet">
	<link href="/style.css" rel="stylesheet">
</head>

<body>
	<div class="container" style="height: 90%">

		<!-- Navigation -->
		<nav class="my-nav">
			<ul class="my-nav-ul">
				<a class="my-navbar-brand" href="#">
					<img src="/logo.png" alt="logo" width=50 height=50>
					<span id="chat-io">CHAT.IO</span>
				</a>
				<a href="#">
					<i class="fa-solid fa-user">
					</i>
					<li th:text="${user.name}">User Name</li>
				</a>
				<a th:href="@{/search-contact/}+${user.id}">
					<i class="fa-solid fa-magnifying-glass"></i>
					<li>Find</li>
				</a>
				<a th:href="@{/conversations/}+${user.id}">
					<i class="fa-solid fa-message"></i>
					<li>Contacts</li>
				</a>
				<a th:href="@{/}">
					<i class="fa-solid fa-right-from-bracket"></i>
					<li>Logout</li>
				</a>
			</ul>
		</nav>

		<div id="chat-box-styled">
			<h2 class="badge bg-info"><span th:text=${contact.name}>Contact Name</span><i class="fa-solid fa-circle"></i></h2>
			<div class="scroll-box" id="chat-items">
				<div th:each="message : ${messages}" th:class="'chat-item-container '+${message.senderId==user.id ? 'chat-item-container--mine' : 'chat-item-container--his'}">
					<!-- IF -->
					<div th:if=${message.senderId==user.id}

						th:text="${message.content}">User</div>
					<!-- ELSE -->
					<div th:unless=${message.senderId==user.id}

						th:text="${message.content}">Contact</div>
				</div>
			</div>

			<div class="input-group message-area">
				<input id="input" type="text" class="form-control"
					placeholder="Write a message!" aria-label="Write a message!"
					aria-describedby="button-addon2">
				<button onclick="send()"
						class="btn btn-outline-secondary"
						type="button" id="button-addon2">
					<i class="fa-solid fa-paper-plane"></i>
				</button>
			</div>
		</div>
	</div>

	<script th:inline="javascript">
		// get response variables from Thymeleaf template
		const userId = /*[[${user.id}]]*/'User Id';
		const convId = /*[[${convId}]]*/'Conversation id';
		const receiverId = /*[[${receiverId}]]*/'receiver id';

		const input = document.getElementById('input');
		input.addEventListener("keyup", function (event) { // send on Enter key pressed
			if(event.key === "Enter") send();
		});

		function send() { // send input message
			const message = document.getElementById("input").value;
			if(message.toString().trim() == ""){ return; } // escape empty message

			document.getElementById("input").value = ""; // clear after message sent

			sendMessage(userId, message, convId);
		}
	</script>

	<script src="/js/bootstrap.bundle.min.js"></script>
	<script src="/js/app.js"></script>

</body>

</html>