<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Chat</title>
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<script src="/js/stomp.umd.min.js"></script>

	<link href="/style.css" rel="stylesheet">

</head>

<body>
	<div class="container" style="height: 90%">

		<!-- Navigation -->
		<nav class="navbar navbar-expand-lg static-top">
			<div class="container">
				<a class="navbar-brand" href="#"> <img
					src="/logo.png" alt="logo" width=50 height=50>
				</a>
				<div class="collapse navbar-collapse" id="navbarResponsive">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item"><a class="nav-link border border-primary" href="#" th:text="${user.name}">User Name</a>
						</li>
						
						
						<li class="nav-item"><a class="nav-link" href="#" 
							th:href="@{/search-contact/}+${user.id}">Find</a>
						</li>
						<li class="nav-item"><a class="nav-link" href="#"
							th:href="@{/conversations/}+${user.id}">Chats</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#" th:href="@{/}">
							Logout
							</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>



		<div class="alert alert-secondary" role="alert"
			style="min-height: 90%">
			<h2 class="badge bg-info" th:text=${contact.name}>Receiver name
			</h2>
			<hr>

			<div class="scroll-box" id="chat-items">
				<div th:each="message : ${messages}">
					<!-- IF -->
					<div th:if=${message.senderId==user.id}
						class="alert alert-info disp-block left-margin"
						th:text="${message.content}">User</div>
					<!-- ELSE -->
					<div th:unless=${message.senderId==user.id}
						class="alert alert-dark disp-block right-margin"
						th:text="${message.content}">Contact</div>
				</div>
			</div>

			<div class="input-group message-area">
				<input id="input" type="text" class="form-control"
					placeholder="Write a message!" aria-label="Write a message!"
					aria-describedby="button-addon2">
				<button onclick="send()" class="btn btn-outline-secondary"
					type="button" id="button-addon2">Send</button>
			</div>
		</div>
	</div>

	<script th:inline="javascript">
		// get response variables from Thymeleaf template
		const userId = /*[[${user.id}]]*/'User Id';
		const receiverId = /*[[${receiverId}]]*/'receiver id';

		const input = document.getElementById('input');
		input.addEventListener("keyup", function (event) { // send on Enter key pressed
			if(event.key ==="Enter") send();
		});

		function send() { // send input message
			const message = document.getElementById("input").value;
			if(message.toString().trim() == ""){ return; } // escape empty message

			document.getElementById("input").value = ""; // clear after message sent

			sendMessage(userId, message);
		}
	</script>

	<script src="/js/bootstrap.bundle.min.js"></script>
	<script src="/js/app.js"></script>

</body>

</html>