<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Chat.io</title>
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="/fontawesome-free-6.4.2-web/css/fontawesome.min.css">
	<link href="/fontawesome-free-6.4.2-web/css/brands.css" rel="stylesheet">
	<link href="/fontawesome-free-6.4.2-web/css/solid.css" rel="stylesheet">

	<link href="/style.css" rel="stylesheet">
</head>

<body>
	<div class="container">
		<!-- Navigation -->
		<nav class="navbar navbar-expand-lg static-top">
			<div class="container">
				<div class="" id="navbarResponsive">
					<ul class="navbar-nav ml-auto">
						<a class="navbar-brand" href="#"> <img
								src="/logo.png" alt="logo" width=50 height=50>
						</a>
						<a href="#">
							<i class="fa-solid fa-user">
							</i>
							<li th:text="${user.name}">User Name</li>
						</a>
						<a th:href="@{/search-contact/}+${user.id}">
							<i class="fa-solid fa-magnifying-glass"></i>
							<li>Find</li>
						</a>
						<a th:href="@{/conversations/}+${user.id}">
							<i class="fa-solid fa-comments"></i>
							<li>Contacts</li>
						</a>
						<a th:href="@{/}">
							<i class="fa-solid fa-right-from-bracket"></i>
							<li>Logout</li>
						</a>
					</ul>
				</div>
			</div>
		</nav>

		<h3 class="b-dark" style="text-align:center">
			<li class="fa-solid fa-magnifying-glass"></li>
			Find Contact
		</h3>
		
		<form action="#" th:action="@{/findContact/}+${user.id}" method="POST">
			<div class="mb-3">
				<input type="text" name="contactName" class="form-control"
					id="contactName">
			</div>
			<input type="submit" value="Find" id="findButton">
		</form>

	</div>

	<script src="/js/bootstrap.bundle.min.js"></script>
	<script>
		document.getElementById('findButton').disabled = true;
		var input = document.getElementById('contactName');
		input.addEventListener("keyup", function (event) {
			if(input.value.toString().trim() === "")
				document.getElementById("findButton").disabled = true;
			else
				document.getElementById("findButton").disabled = false;
		})
	</script>

</body>

</html>