<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Chat.io</title>
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="/fontawesome-free-6.4.2-web/css/fontawesome.min.css">
	<link href="/fontawesome-free-6.4.2-web/css/brands.css" rel="stylesheet">
	<link href="/fontawesome-free-6.4.2-web/css/solid.css" rel="stylesheet">

	<link href="/style.css" rel="stylesheet">
</head>

<body>
	<div id="container-specific">
		<!-- Navigation -->
		<nav class="my-nav">
			<ul class="my-nav-ul">
				<a class="my-navbar-brand" href="#">
					<img src="/logo.png" alt="logo" width=50 height=50>
					<span id="chat-io">CHAT.IO</span>
				</a>
				<a th:href="@{/profile/}+${user.id}">
					<i class="fa-solid fa-user">
					</i>
					<li th:text="${user.name.split(' ')[0]}">User Name</li>
				</a>
				<a th:href="@{/search-contact/}+${user.id}">
					<i class="fa-solid fa-magnifying-glass"></i>
					<li>Find</li>
				</a>
				<a th:href="@{/conversations/}+${user.id}">
					<i class="fa-solid fa-message"></i>
					<li>Contacts</li>
				</a>
				<a th:href="@{/Logout}">
					<i class="fa-solid fa-right-from-bracket"></i>
					<li>Logout</li>
				</a>
			</ul>
		</nav>

		<div id="container-find">
			<div id="search-area">
				<input type="text" name="contact-name" id="contact-input" class="input-styled" placeholder="Search contact">
				<i id="search-button" class="fa-solid fa-magnifying-glass"></i>
			</div>
			<div id="search-result">
			</div>
			<h3 id="suggested-contacts">
				<i class="fa-regular fa-address-book"></i>Suggested Contacts
			</h3>
			<div id="suggested">
				<!--		Suggested Contact Item		-->
				<div class="suggested-contact-item" th:each="contact : ${contacts}">
					<div>
						<img th:src="${'/images/profile-images/' + contact.image}">
					</div>

					<div>
						<span class="user-name" th:text="${contact.name}">Fanana Gamda</span>
						<div>
							<button class="connect-suggested-contact" th:value="${contact.id}">
								<span>Connect </span>
								<i class="fa-solid fa-user-plus"></i>
							</button>
						</div>
					</div>
				</div>
				<!--------------------------------------->
			</div>
		</div>
	</div>


	<script src="/js/bootstrap.bundle.min.js"></script>
	<script>

		const inputField = document.getElementById('contact-input');
		inputField.addEventListener('keyup', listUsersResult);

		function listUsersResult(){
			const input = inputField.value;
			if(input.toString().trim().length == 0){
				document.getElementById('search-result').innerHTML = null;
				return;
			}

			const userId = [[${user.id}]];

			const data = JSON.stringify({"userId":userId, "contactName": input.toString().trim()});
			const xmlHttpRequest = new XMLHttpRequest();

			xmlHttpRequest.onreadystatechange = function() {
				if (this.readyState == 4 && this.status == 200) {
					const response = JSON.parse(this.response);
					if(response.length != 0){
						document.getElementById('search-result').innerHTML = null;
						response.forEach(usr => {
							createContactItem(usr.name, usr.id, usr.image);
						})
					}else{
						document.getElementById('search-result').innerHTML = null;
					}
				}
			};
			xmlHttpRequest.open("POST", "/get-contacts", true);
			xmlHttpRequest.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
			xmlHttpRequest.send(data);
		}

		// create single contact item
		function createContactItem(contactName, contactId, image){
			const searchResultItem = document.createElement('div');
			searchResultItem.className = 'search-result-item';
			const div1 = document.createElement('div');
			const div2 = document.createElement('div');
			const button = document.createElement('button');
			button.value = contactId;
			button.addEventListener('click', () => {
				addContact(button.value, button);
			});
			const span = document.createElement('span');
			const i = document.createElement('i');
			i.className = 'fa-solid fa-user-plus';
			span.innerText = 'Connect ';

			button.appendChild(span);
			button.appendChild(i);
			div2.appendChild(button);

			div1.innerHTML = '<img src="/images/profile-images/' + image + '"><span> ' + contactName + '</span>';
			searchResultItem.appendChild(div1);
			searchResultItem.appendChild(div2);
			document.getElementById('search-result').appendChild(searchResultItem);
		}

		document.querySelectorAll('.connect-suggested-contact').forEach(el => {
			el.addEventListener('click', evt => {
				const contactId = evt.target.value || evt.target.parentElement.value;
				addContact(contactId, null);
				const child = document.createElement('i');
				child.className = 'fa-solid fa-user-plus';
				el.children[1].classList.replace('fa-user-plus', 'fa-check-double');
				el.children[0].textContent = 'Connected';
			})
		})

		function addContact(contactId, button){
			const API_ENDPOINT = '/connect';
			const userId = [[${user.id}]];

			const data = JSON.stringify({"userId":userId, "contactId": contactId});
			const xmlHttpRequest = new XMLHttpRequest();

			xmlHttpRequest.onreadystatechange = function() {
				if(button == null){
					return;
				}
				if (this.readyState == 4 && this.status == 200) {
					button.disabled = true;
					button.children[0].textContent = 'Connected ';
					button.children[1].classList.replace('fa-user-plus', 'fa-check-double');

				}
			};
			xmlHttpRequest.open("POST", API_ENDPOINT, true);
			xmlHttpRequest.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
			xmlHttpRequest.send(data);
		}

	</script>

</body>

</html>