<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Chat.io</title>

<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/style.css" rel="stylesheet">

<style>
	body{
		height: 85%;
	}
</style>
</head>
<body>
	<div class="container">
		<div class="card card-styled">
			<img src="/logo.webp" class="card-img-top" alt="logo">
			<div class="card-body">
			    <h3 class="card-text text-center mb-5 apply-PaytoneOne">Join and engage with your friends</h3>
				<div class="row">
				<span class="col"></span>
					<a class="btn btn-outline-dark col-4 sign-up apply-PaytoneOne" href="/sign-up">Sign-Up</a>
					<span class="col"></span>
					<a class="btn btn-outline-dark col-4 login apply-PaytoneOne" href="/showLogin">Login</a>
				<span class="col"></span>
				</div>
			</div>
		</div>
	</div>

	<script src="/js/bootstrap.bundle.min.js"></script>

</body>
</html>