<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>Chat.io</title>
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/style.css" rel="stylesheet">

</head>

<body>
	<div class="container mt-4	" style="width:500px">
		<h3 class="alert alert-info" role="alert">
			<a 	class="btn btn-outline-dark" 
				href="#" 
				th:href="@{/sign-up}"
				>
					Sign-Up
			</a>
			<img alt="logo" src="/logo.png" class="logo">
			
		</h3>
		
	
		<form action="#" th:action="@{/login}" th:object="${user}"
			method="post">
			<div class="mb-3">
				<label for="exampleInputEmail1" class="form-label">Email
					address</label> 
				<input type="email" th:field="*{email}" class="form-control"
					id="exampleInputEmail1">

			</div>
			<div class="mb-3">
				<label for="exampleInputPassword1" class="form-label">Password</label>
				<input type="password" th:field="*{password}" class="form-control"
					id="exampleInputPassword1">
			</div>
			<input type="submit" class="btn btn-primary" value="Login">
		</form>
	</div>

	<script src="/js/bootstrap.bundle.min.js"></script>

</body>

</html>