<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Chat.io</title>
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/style.css" rel="stylesheet">
	<style>
		body{
			height: 85%;
		}
		.card-img-top {
			width: 20vw;
			height: 30vh;
			margin: 0 auto;
		}

	</style>
</head>
<body>

<div class="container">
	<div class="card card-styled">
		<img src="logo.webp" class="card-img-top" alt="logo">
		<div class="card-body">
			<form action="#" th:action="@{/new-user}" th:object="${user}"
				method="post">
				<div class="mb-3">
					<label for="InputName" class="form-label label-styled">Name</label> <input
						th:field="*{name}" type="text" class="form-control input-styled" id="InputName">
				</div>
				<div class="mb-3">
					<label for="InputEmail1" class="form-label label-styled">Email</label> <input
						th:field="*{email}" type="email" class="form-control input-styled"
						id="InputEmail1">
				</div>
				<div class="mb-3">
					<label for="InputPassword1" class="form-label label-styled">Password</label>
					<input
						th:field="*{password}" type="password" class="form-control input-styled"
						id="InputPassword1">
				</div>
				<div class="mb-3">
					<label for="InputPassword2" class="form-label label-styled">Confirm Password</label>
					<input
						type="password" class="form-control input-styled"
						id="InputPassword2">
				</div>
				<input class="btn sign-up" id="signUpButton" type="submit" disabled value="Sign-Up">
				<a id="register-button" href="#" th:href="@{/showLogin}">Login instead?</a>
			</form>
		</div>
	</div>
</div>


	<script src="/js/bootstrap.bundle.min.js"></script>

	<script>


		const signUpButton = document.getElementById('signUpButton');
		const passwordInput1 = document.getElementById('InputPassword1');
		const passwordInput2 = document.getElementById('InputPassword2');
		const nameInput = document.getElementById('InputName');
		const emailInput = document.getElementById('InputEmail1');

		[passwordInput1, passwordInput2, nameInput, emailInput].forEach(el => {
			el.addEventListener('keyup', checkNotEmptyInputs);
		})

		function checkNotEmptyInputs(){
			if(
				nameInput.value.toString().trim() == "" ||
				emailInput.value.toString().trim() == "" ||
				!isPasswordConfirmed()
			){
				disableSignUpButton();
			}else{
				enableSignUpButton();
			}
		}


		function isPasswordConfirmed(){
			const input1text = passwordInput1.value;
			const input2text = passwordInput2.value;

			if(input1text != input2text || input1text.toString().trim() == "" || input2text.toString().trim() == ""){
				return false;
			}

			return true;
		}

		function enableSignUpButton(){
			signUpButton.disabled = false;
		}

		function disableSignUpButton(){
			signUpButton.disabled = true;
		}
	</script>

</body>
</html>