<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Chat</title>
	<link href="/css/bootstrap.min.css" rel="stylesheet">

	<link href="/style.css" rel="stylesheet">

</head>

<body>
	<div class="container" style="height: 90%">

		<!-- Navigation -->
		<nav class="navbar navbar-expand-lg static-top">
			<div class="container">
				<a class="navbar-brand" href="#"> <img
					src="/logo.png" alt="logo" width=50 height=50>
				</a>
				<div class="collapse navbar-collapse" id="navbarResponsive">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item"><a class="nav-link border border-primary" href="#" th:text="${user.name}">User Name</a>
						</li>
						
						
						<li class="nav-item"><a class="nav-link" href="#" 
							th:href="@{/search-contact/}+${user.id}">Find</a>
						</li>
						<li class="nav-item"><a class="nav-link" href="#"
							th:href="@{/conversations/}+${user.id}">Chats</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#" th:href="@{/}">
							Logout
							</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>



		<div class="alert alert-secondary" role="alert"
			style="min-height: 90%">
			<h2 class="badge bg-info" th:text=${contact.name}>Receiver name
			</h2>
			<hr>

			<div class="scroll-box" id="chat-items">
				<div th:each="message : ${messages}">
					<!-- IF -->
					<div th:if=${message.senderId==user.id}
						class="alert alert-info disp-block left-margin"
						th:text="${message.content}">User</div>
					<!-- ELSE -->
					<div th:unless=${message.senderId==user.id}
						class="alert alert-dark disp-block right-margin"
						th:text="${message.content}">Contact</div>
				</div>
			</div>

			<div class="input-group message-area">
				<input id="input" type="text" class="form-control"
					placeholder="Write a message!" aria-label="Write a message!"
					aria-describedby="button-addon2">
				<button onclick="send()" class="btn btn-outline-secondary"
					type="button" id="button-addon2">Send</button>
			</div>
		</div>
	</div>


	<script th:inline="javascript">
		function send() {
			// assign back-end user-id and conversation-id using Thymeleaf
			// to javascript variables
			var userId = /*[[${user.id}]]*/'User Id';
			var convId = /*[[${convId}]]*/'Conversation id';
			var receiverId = /*[[${receiverId}]]*/'receiver id';

			// get message from input text field
			var message = document.getElementById("input").value;
			// clear previous input text when Send button is clicked
			document.getElementById("input").value = "";
			// create JSON object
			var data = JSON.stringify({
				"senderId" : userId,
				"receiverId" : receiverId,
				"conversationId" : convId,
				"content": message
			});

			// open Asynchronous request
			var xhttp = new XMLHttpRequest();

			xhttp.onreadystatechange = function() {
				// create new Div for new message and append to Chat-box
				if (this.readyState == 4 && this.status == 201) {
					var chatBox = document.getElementById('chat-items');
					var classList = 'alert alert-info disp-block left-margin';
					var div = document.createElement('div');
					div.innerText = message;
					div.classList = classList;
					chatBox.appendChild(div);
					chatBox.scrollTop = chatBox.scrollHeight;
				}
			};

			xhttp.open("POST", "/message", true);
			xhttp.setRequestHeader("Content-Type",
					"application/json;charset=UTF-8");
			xhttp.send(data);

		}
		var chatBox = document.getElementById('chat-items');
		chatBox.scrollTop = chatBox.scrollHeight;
		haveNewMessage();


		function haveNewMessage(){

			var userId = /*[[${user.id}]]*/'User Id';

			var xhttp = new XMLHttpRequest();

			xhttp.onreadystatechange = () => {
				if (xhttp.readyState === 4) {
					var data = xhttp.response;
					var classListReceiver = 'alert alert-dark disp-block right-margin';
					var classListSender = 'alert alert-info disp-block left-margin';
					var chatBox = document.getElementById('chat-items');
					chatBox.innerHTML = null;

					for(var i = 0; i < data.length; i++){
						var div = document.createElement('div');
						div.innerText = data[i].content;
						if(data[i].senderId == userId)
							div.classList = classListSender;
						else
							div.classList = classListReceiver;
						chatBox.appendChild(div);
					}

					chatBox.scrollTop = chatBox.scrollHeight;
				}
			};

			var userId = /*[[${user.id}]]*/'User Id';
			var convId = /*[[${convId}]]*/'Conversation id';
			var receiverId = /*[[${receiverId}]]*/'Receiver id';
			xhttp.open("GET", "/chatMessages/" + userId + "/" + receiverId + "/" + convId, true);
			xhttp.responseType = 'json';
			xhttp.send();

			setTimeout(function() {
				haveNewMessage();
			}, 1000)
		}


	</script>

	<script src="/js/bootstrap.bundle.min.js"></script>


</body>

</html>